Repository FrankelJb/beansnix, changes with the labels that .github/labeler.yml gives for each.
All labels: Modules, Library, Overlays, Packages, Secrets, Systems, repo, GitHub-Action

updated readme
  README.md
Labels: repo

updated readme
  README.md
Labels: repo

removed sway, changed shell, gdm
  homes/x86_64-linux/beans@nixos/default.nix
  modules/home/system/shell/fish/default.nix
  modules/nixos/desktop/addons/xdg-portal/default.nix
  modules/nixos/desktop/gnome/default.nix
  modules/nixos/desktop/hyprland/default.nix
  modules/nixos/desktop/sway/background.png
  modules/nixos/desktop/sway/config
  modules/nixos/desktop/sway/default.nix
  modules/nixos/display-managers/gdm/default.nix
  modules/nixos/hardware/nvidia/default.nix
  modules/nixos/user/default.nix
  systems/x86_64-linux/helium/ckb-next/ckb-next.conf
  systems/x86_64-linux/helium/default.nix
  systems/x86_64-linux/helium/hardware.nix
Labels: Modules, Systems

removed wakatime, fixing firefox css, adding zellij
  flake.lock
  flake.nix
  homes/x86_64-linux/beans@helium/default.nix
  modules/home/apps/vscode/default.nix
  modules/home/cli-apps/astronvim/default.nix
  modules/home/cli-apps/starship/default.nix
  modules/home/cli-apps/zellij/config/config.kdl
  modules/home/cli-apps/zellij/default.nix
  modules/home/desktop/addons/foot/default.nix
  modules/home/desktop/hyprland/apps.nix
  modules/home/desktop/hyprland/binds.nix
  modules/home/desktop/hyprland/variables.nix
  modules/home/desktop/hyprland/windowrules.nix
  modules/home/suites/common/default.nix
  modules/home/suites/development/default.nix
  modules/home/system/shell/bash/default.nix
  modules/home/tools/wakatime/default.nix
  modules/nixos/apps/firefox/chrome/userChrome.css
  modules/nixos/apps/firefox/default.nix
  modules/nixos/desktop/addons/foot/default.nix
  modules/nixos/desktop/addons/foot/foot.ini
  modules/nixos/desktop/hyprland/default.nix
  modules/nixos/nh/default.nix
  modules/nixos/suites/common/default.nix
  modules/nixos/system/networking/default.nix
  modules/nixos/user/default.nix
  modules/shared/suites/common/default.nix
  systems/x86_64-linux/helium/default.nix
Labels: Modules, Systems, repo

fixed background, bar, timezone, git
  homes/x86_64-linux/beans@helium/default.nix
  modules/home/desktop/addons/waybar/default.nix
  modules/home/desktop/hyprland/binds.nix
  modules/home/desktop/hyprland/default.nix
  modules/home/desktop/hyprland/variables.nix
  modules/home/tools/git/default.nix
  modules/nixos/desktop/addons/xdg-portal/default.nix
  modules/nixos/hardware/bluetooth/default.nix
  modules/nixos/nh/default.nix
  modules/nixos/system/time/default.nix
  systems/x86_64-linux/helium/default.nix
Labels: Modules, Systems

added signal, fixed fish and added functions, some formating, prevent lock
  modules/home/desktop/addons/swayidle/default.nix
  modules/home/suites/development/default.nix
  modules/home/suites/social/default.nix
  modules/home/system/shell/fish/default.nix
  modules/home/system/shell/fish/functions/bind_bang.fish
  modules/home/system/shell/fish/functions/bind_dollar.fish
  modules/home/system/shell/fish/functions/brightness.fish
  modules/home/system/shell/fish/functions/fish_greeting.fish
  modules/home/system/shell/fish/functions/fish_user_key_bindings.fish
  modules/nixos/apps/partitionmanager/default.nix
  modules/nixos/apps/signal-desktop/default.nix
  modules/nixos/desktop/addons/electron-support/electron-flags.conf
  modules/nixos/suites/social/default.nix
  modules/nixos/user/default.nix
Labels: Modules

cleaned some binds, added ios, added rust tools, change some layouts
  flake.lock
  flake.nix
  modules/home/cli-apps/astronvim/default.nix
  modules/home/cli-apps/ranger/config/config/options.conf
  modules/home/desktop/addons/waybar/default-modules.jsonc
  modules/home/desktop/addons/waybar/default.nix
  modules/home/desktop/hyprland/binds.nix
  modules/home/desktop/hyprland/variables.nix
  modules/home/desktop/hyprland/windowrules.nix
  modules/home/suites/common/default.nix
  modules/home/suites/development/default.nix
  modules/nixos/apps/firefox/chrome/userChrome.css
  modules/nixos/apps/firefox/default.nix
  modules/nixos/services/ios/default.nix
  modules/nixos/suites/common/default.nix
  modules/nixos/suites/development/default.nix
  modules/nixos/suites/photo/default.nix
  modules/shared/tools/git/default.nix
  packages/volume/default.nix
  systems/x86_64-linux/helium/default.nix
Labels: Modules, Packages, Systems, repo

trying to get vscodium working, adding back nh
  flake.lock
  flake.nix
  modules/home/suites/development/default.nix
  modules/nixos/desktop/addons/electron-support/default.nix
  modules/nixos/suites/development/default.nix
Labels: Modules, repo

mostly formatting, removed some packages, using nixpkgs-wayland overlay
  flake.lock
  flake.nix
  modules/home/desktop/addons/waybar/default.nix
  modules/home/desktop/hyprland/apps.nix
  modules/home/security/sops/default.nix
  modules/home/services/udiskie/default.nix
  modules/nixos/desktop/addons/foot/default.nix
  modules/nixos/desktop/addons/xdg-portal/default.nix
  modules/nixos/desktop/hyprland/default.nix
  modules/nixos/suites/music/default.nix
  modules/nixos/suites/wlroots/default.nix
  modules/shared/nix/default.nix
  packages/trace-which/default.nix
  systems/x86_64-linux/helium/default.nix
Labels: Modules, Packages, Systems, repo

removed some packages, added openrgb, playing with fonts
  modules/home/cli-apps/astronvim/default.nix
  modules/home/desktop/addons/foot/default.nix
  modules/home/desktop/addons/waybar/default.nix
  modules/home/desktop/addons/waybar/style.css
  modules/home/desktop/hyprland/apps.nix
  modules/home/desktop/hyprland/windowrules.nix
  modules/nixos/apps/firefox/default.nix
  modules/nixos/hardware/rgb/default.nix
  modules/nixos/system/networking/default.nix
  systems/x86_64-linux/helium/default.nix
Labels: Modules, Systems

fixed firefox language, adding delta
  flake.lock
  flake.nix
  modules/home/suites/development/default.nix
  modules/home/tools/git/default.nix
  modules/nixos/apps/firefox/default.nix
Labels: Modules, repo

adding lithium for dev
  systems/x86_64-linux/lithium/default.nix
  systems/x86_64-linux/lithium/hardware.nix
Labels: Systems

removed aarch check, added nixos@lithium
  .github/workflows/check.yml
  homes/x86_64-linux/nixos@lithium/default.nix
Labels: GitHub-Action

fixed linting issues in hardware.nix
  systems/x86_64-linux/helium/hardware.nix
  systems/x86_64-linux/lithium/hardware.nix
Labels: Systems

moved lithium to beans, fixed DE, changed idle timeout, removed delta
  flake.lock
  homes/x86_64-linux/beans@helium/default.nix
  homes/x86_64-linux/beans@lithium/default.nix
  modules/home/desktop/addons/swayidle/default.nix
  modules/home/tools/git/default.nix
  systems/x86_64-linux/lithium/default.nix
Labels: Modules, Systems, repo

remove zellij and hyprland from common
  homes/x86_64-linux/beans@helium/default.nix
  modules/home/suites/common/default.nix
  modules/nixos/suites/desktop/default.nix
  systems/x86_64-linux/helium/default.nix
Labels: Modules, Systems

added vscodium with config, fixed zellij, removed vscode and vscodium dev
  modules/home/apps/vscodium/default.nix
  modules/home/cli-apps/zellij/default.nix
  modules/home/suites/development/default.nix
  modules/home/system/shell/bash/default.nix
  modules/nixos/suites/development/default.nix
Labels: Modules

fixed mounts, bashrc, tried to fix vms
  modules/home/apps/vscodium/default.nix
  modules/home/cli-apps/zellij/default.nix
  modules/home/system/shell/bash/default.nix
  modules/nixos/apps/virtualbox/default.nix
  modules/nixos/suites/vm/default.nix
  systems/x86_64-linux/helium/default.nix
  systems/x86_64-linux/helium/hardware.nix
Labels: Modules, Systems

added alacritty, ueberzugpp, yazi, fixed colours
  flake.lock
  lib/deploy/default.nix
  lib/network/default.nix
  modules/home/cli-apps/astronvim/default.nix
  modules/home/cli-apps/bottom/default.nix
  modules/home/cli-apps/bottom/themes/macchiato.toml
  modules/home/cli-apps/k9s/default.nix
  modules/home/cli-apps/k9s/themes/macchiato.yml
  modules/home/cli-apps/lazygit/themes/macchiato-blue.yml
  modules/home/cli-apps/neovim/default.nix
  modules/home/cli-apps/yazi/default.nix
  modules/home/desktop/addons/alacritty/default.nix
  modules/home/desktop/addons/waybar/default.nix
  modules/home/desktop/hyprland/apps.nix
  modules/home/desktop/hyprland/binds.nix
  modules/home/desktop/hyprland/default.nix
  modules/home/suites/common/default.nix
  modules/home/suites/development/default.nix
  modules/home/tools/git/default.nix
  modules/nixos/desktop/hyprland/default.nix
  modules/nixos/system/networking/default.nix
  packages/import_env/default.nix
Labels: Modules, Library, Packages, repo

nixfmt
  modules/home/desktop/hyprland/variables.nix
  modules/home/desktop/hyprland/windowrules.nix
  modules/home/suites/social/default.nix
  modules/nixos/apps/partitionmanager/default.nix
  modules/nixos/apps/signal-desktop/default.nix
  modules/nixos/desktop/addons/electron-support/default.nix
  modules/nixos/desktop/addons/foot/default.nix
  modules/nixos/desktop/gnome/default.nix
  modules/nixos/hardware/bluetooth/default.nix
  modules/nixos/hardware/nvidia/default.nix
  modules/nixos/suites/social/default.nix
  modules/nixos/suites/wlroots/default.nix
  modules/nixos/system/boot/default.nix
Labels: Modules

Remove dead code
  homes/x86_64-linux/beans@lithium/default.nix
  modules/home/cli-apps/neovim/default.nix
  modules/home/desktop/addons/foot/default.nix
  modules/home/desktop/addons/swayidle/default.nix
  modules/home/suites/development/default.nix
  modules/home/suites/music/default.nix
  modules/home/suites/social/default.nix
  modules/home/system/shell/fish/default.nix
  modules/home/tools/git/default.nix
  modules/nixos/desktop/gnome/default.nix
  modules/nixos/suites/music/default.nix
  modules/nixos/suites/social/default.nix
  modules/nixos/suites/video/default.nix
  systems/x86_64-linux/helium/hardware.nix
  systems/x86_64-linux/lithium/default.nix
  systems/x86_64-linux/lithium/hardware.nix
Labels: Modules, Systems

monero-gui
  modules/nixos/apps/monero-gui/default.nix
  modules/nixos/archetypes/workstation/default.nix
  modules/nixos/desktop/addons/swaynotificationcenter/default.nix
Labels: Modules

fixed networking, moved lines
  flake.lock
  flake.nix
  modules/home/desktop/hyprland/apps.nix
  modules/nixos/system/networking/default.nix
  systems/x86_64-linux/helium/default.nix
Labels: Modules, Systems, repo

theme merge, moved some apps
  flake.lock
  modules/darwin/apps/_1password/default.nix
  modules/home/apps/_1password/default.nix
  modules/home/cli-apps/bottom/default.nix
  modules/home/cli-apps/btop/default.nix
  modules/home/cli-apps/btop/themes/catppuccin_macchiato.theme
  modules/home/cli-apps/btop/themes/catppuccin_mocha.theme
  modules/home/cli-apps/k9s/default.nix
  modules/home/cli-apps/lazydocker/default.nix
  modules/home/cli-apps/lazygit/default.nix
  modules/home/cli-apps/neovim/default.nix
  modules/home/cli-apps/yazi/configs/keymap.toml
  modules/home/cli-apps/yazi/default.nix
  modules/home/desktop/addons/hyprpaper/default.nix
  modules/home/desktop/hyprland/apps.nix
  modules/home/desktop/hyprland/variables.nix
  modules/home/desktop/hyprland/windowrules.nix
  modules/home/security/sops/default.nix
  modules/home/suites/business/default.nix
  modules/home/suites/common/default.nix
  modules/home/suites/development/default.nix
  modules/home/suites/social/default.nix
  modules/home/tools/bat/default.nix
  modules/home/tools/git/aliases.nix
  modules/home/tools/git/default.nix
  modules/home/tools/lsd/default.nix
  modules/home/tools/ssh/default.nix
  modules/nixos/cli-apps/lazydocker/default.nix
  modules/nixos/services/avahi/default.nix
  modules/nixos/services/openssh/default.nix
  modules/nixos/suites/development/default.nix
  modules/nixos/system/networking/default.nix
  modules/nixos/virtualisation/podman/default.nix
  modules/shared/suites/common/default.nix
  secrets/beans/default.json
Labels: Modules, Secrets, repo

removed github check workflow, changed eza to lsd
  .github/settings.yml
  .github/workflows/check.yml
  modules/home/system/shell/fish/default.nix
  modules/shared/suites/common/default.nix
Labels: Modules, GitHub-Action

renaming khanelinix, removed _1password
  flake.lock
  modules/darwin/apps/_1password/default.nix
  modules/home/cli-apps/k9s/default.nix
  modules/home/cli-apps/lazydocker/default.nix
  modules/home/cli-apps/lazygit/default.nix
  modules/home/cli-apps/yazi/default.nix
  modules/home/suites/business/default.nix
  modules/home/tools/git/default.nix
  modules/nixos/system/networking/default.nix
Labels: Modules, repo

merge bug fixes
  modules/home/apps/_1password/default.nix
  modules/home/cli-apps/bottom/default.nix
  modules/home/cli-apps/lazygit/default.nix
  modules/home/suites/business/default.nix
  modules/home/suites/common/default.nix
  modules/home/suites/development/default.nix
  modules/home/tools/git/default.nix
  modules/nixos/suites/development/default.nix
Labels: Modules

fixed floating term, added qmk and dnsutils, fixed networking
  flake.lock
  homes/x86_64-linux/beans@helium/default.nix
  modules/home/desktop/hyprland/binds.nix
  modules/home/desktop/hyprland/variables.nix
  modules/home/desktop/hyprland/windowrules.nix
  modules/home/security/sops/default.nix
  modules/home/suites/development/default.nix
  modules/nixos/suites/development/default.nix
  modules/nixos/system/networking/default.nix
  modules/shared/suites/common/default.nix
  systems/x86_64-linux/helium/default.nix
Labels: Modules, Systems, repo

removed gaming from lithium
  systems/x86_64-linux/lithium/default.nix
Labels: Systems

flake updates
  flake.lock
Labels: repo

flake updates, fixed theme
  flake.lock
  modules/home/desktop/theme/default.nix
Labels: Modules, repo

removing 1password agian
  modules/darwin/apps/_1password/default.nix
  modules/home/apps/_1password/default.nix
Labels: Modules

fixed terminal bind
  flake.lock
  modules/home/desktop/hyprland/binds.nix
Labels: Modules, repo

added mullvad
  flake.lock
  modules/nixos/security/mullvad/default.nix
  systems/x86_64-linux/helium/default.nix
Labels: Modules, Systems, repo

Remove dead code
  homes/x86_64-linux/beans@lithium/default.nix
  modules/home/cli-apps/neovim/default.nix
  modules/home/desktop/addons/foot/default.nix
  modules/home/desktop/addons/swayidle/default.nix
  modules/home/suites/business/default.nix
  modules/home/suites/development/default.nix
  modules/home/suites/music/default.nix
  modules/home/suites/social/default.nix
  modules/home/system/shell/fish/default.nix
  modules/home/tools/git/default.nix
  modules/nixos/desktop/gnome/default.nix
  modules/nixos/suites/music/default.nix
  modules/nixos/suites/social/default.nix
  modules/nixos/suites/video/default.nix
  modules/nixos/system/networking/default.nix
  systems/x86_64-linux/helium/hardware.nix
  systems/x86_64-linux/lithium/default.nix
  systems/x86_64-linux/lithium/hardware.nix
Labels: Modules, Systems

reduced gaps, waybar personalisation
  flake.lock
  modules/home/desktop/addons/waybar/default.nix
  modules/home/desktop/addons/waybar/modules/custom-modules.nix
  modules/home/desktop/addons/waybar/modules/default-modules.nix
  modules/home/desktop/addons/waybar/style.css
  modules/home/desktop/hyprland/variables.nix
Labels: Modules, repo

nixfmt
  flake.nix
  modules/home/cli-apps/bottom/default.nix
  modules/home/cli-apps/btop/default.nix
  modules/home/cli-apps/k9s/default.nix
  modules/home/cli-apps/lazydocker/default.nix
  modules/home/cli-apps/lazygit/default.nix
  modules/home/cli-apps/neovim/default.nix
  modules/home/cli-apps/yazi/default.nix
  modules/home/desktop/hyprland/apps.nix
  modules/home/desktop/hyprland/default.nix
  modules/home/desktop/hyprland/windowrules.nix
  modules/home/security/sops/default.nix
  modules/home/suites/business/default.nix
  modules/home/suites/common/default.nix
  modules/home/suites/development/default.nix
  modules/home/suites/social/default.nix
  modules/home/tools/bat/default.nix
  modules/home/tools/git/default.nix
  modules/home/tools/lsd/default.nix
  modules/nixos/suites/development/default.nix
  modules/nixos/suites/social/default.nix
  modules/nixos/system/networking/default.nix
  modules/shared/suites/common/default.nix
  systems/x86_64-linux/lithium/default.nix
Labels: Modules, Systems, repo

Remove dead code
  homes/x86_64-linux/beans@lithium/default.nix
  modules/home/cli-apps/neovim/default.nix
  modules/home/desktop/addons/foot/default.nix
  modules/home/desktop/addons/swayidle/default.nix
  modules/home/suites/business/default.nix
  modules/home/suites/development/default.nix
  modules/home/suites/music/default.nix
  modules/home/suites/social/default.nix
  modules/home/system/shell/fish/default.nix
  modules/home/tools/git/default.nix
  modules/nixos/desktop/gnome/default.nix
  modules/nixos/suites/music/default.nix
  modules/nixos/suites/social/default.nix
  modules/nixos/system/networking/default.nix
  systems/x86_64-linux/helium/hardware.nix
  systems/x86_64-linux/lithium/default.nix
  systems/x86_64-linux/lithium/hardware.nix
Labels: Modules, Systems

added anyrun but still disabled, waybar comfort changes
  flake.lock
  flake.nix
  modules/home/desktop/addons/anyrun/default.nix
  modules/home/desktop/addons/waybar/default.nix
  modules/home/desktop/addons/waybar/modules/hyprland-modules.nix
  modules/home/desktop/hyprland/default.nix
  modules/nixos/nix/default.nix
  modules/nixos/system/networking/default.nix
Labels: Modules, repo

fix: readd waybar persistent workspaces to config
  modules/home/desktop/addons/waybar/modules/hyprland-modules.nix
Labels: Modules

.github/labeler.yml:

Modules:
  - modules/**/*

Library:
  - lib/**/*

Overlays:
  - overlays/**/*

Packages:
  - packages/**/*

Secrets:
  - secrets/**/*

Systems:
  - systems/**/*

repo:
  - '*'

GitHub-Action:
  - .github/workflows/*
