Repository FrankelJb/beansnix, changes with the labels that .github/labeler.yml gives for each.
All labels: Modules, Library, Overlays, Packages, Secrets, Systems, repo, GitHub-Action

.github/labeler.yml:

Modules:
  - modules/**/*

Library:
  - lib/**/*

Overlays:
  - overlays/**/*

Packages:
  - packages/**/*

Secrets:
  - secrets/**/*

Systems:
  - systems/**/*

repo:
  - '*'

GitHub-Action:
  - .github/workflows/*

refactor: git pull ff again remove whitespace override
  modules/home/tools/git/default.nix
Labels: Modules

chore: remove git safe directory
  modules/home/tools/git/default.nix
Labels: Modules

refactor: remove tmux always on init, move to keybind
  modules/home/system/shell/zsh/default.nix
Labels: Modules

feat: darwin tmux skhd update
  modules/darwin/desktop/addons/skhd/default.nix
Labels: Modules

feat: temporary waybar overlay with fixes
  modules/home/desktop/addons/waybar/default.nix
  overlays/waybar/default.nix
Labels: Modules, Overlays

feat: add nix-update
  modules/darwin/suites/development/default.nix
Labels: Modules

feat: waybar css updates
  modules/home/desktop/addons/waybar/style.css
Labels: Modules

refactor: waybar module refactor
  modules/home/desktop/addons/waybar/default.nix
  modules/home/desktop/addons/waybar/styles/catppuccin.css
  modules/home/desktop/addons/waybar/styles/style.css
Labels: Modules

chore: remove custom waybar overlay
  modules/home/desktop/addons/waybar/default.nix
  overlays/waybar/default.nix
Labels: Modules, Overlays

feat: waybar hyprland workspaces styling change
  modules/home/desktop/addons/waybar/modules/hyprland-modules.nix
Labels: Modules

refactor: modularize waybar css
  modules/home/desktop/addons/waybar/default.nix
  modules/home/desktop/addons/waybar/styles/notifications.css
  modules/home/desktop/addons/waybar/styles/power.css
  modules/home/desktop/addons/waybar/styles/stats.css
  modules/home/desktop/addons/waybar/styles/style.css
  modules/home/desktop/addons/waybar/styles/workspaces.css
Labels: Modules

chore: remove dooit overlay and add to nixos
  modules/nixos/suites/business/default.nix
Labels: Modules

fix: discord master overlay until released unstable
  flake.lock
  flake.nix
  overlays/discord/default.nix
Labels: Overlays, repo

feat: add hyprland catppuccin.conf
  modules/home/desktop/hyprland/default.nix
  modules/home/desktop/theme/default.nix
Labels: Modules

chore: flake lock update
  flake.lock
Labels: repo

added back xdg-portal and sway
  flake.lock
  modules/nixos/desktop/hyprland/default.nix
  modules/nixos/desktop/sway/background.png
  modules/nixos/desktop/sway/config
  modules/nixos/desktop/sway/default.nix
Labels: Modules, repo

fixed waybar, added helix, changed term to alacritty, fixed monitor --rate
  flake.lock
  modules/home/cli-apps/helix/default.nix
  modules/home/cli-apps/helix/languages.nix
  modules/home/desktop/addons/alacritty/default.nix
  modules/home/desktop/addons/waybar/default.nix
  modules/home/desktop/addons/waybar/modules/default-modules.nix
  modules/home/desktop/addons/waybar/modules/hyprland-modules.nix
  modules/home/desktop/hyprland/variables.nix
  modules/home/desktop/theme/default.nix
  modules/home/suites/development/default.nix
  modules/nixos/suites/business/default.nix
  systems/x86_64-linux/helium/default.nix
  systems/x86_64-linux/helium/hypr/displays.conf
  systems/x86_64-linux/helium/monitors.xml
Labels: Modules, Systems, repo

removing darwin agian
  modules/darwin/desktop/addons/skhd/default.nix
  modules/darwin/suites/development/default.nix
Labels: Modules
